.left-column {
  overflow: scroll;
  position: fixed !important;
  top: 136px;
  height: 79%;
  background-color: #060817;
  transition: all 0.5s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  .left-title {
    background-color: #1C1F39;
    transform: rotate(0.05deg);
    width: 80%;
    margin: 0 auto;
  }
  h5 {
    transform: rotate(0.05deg);
    margin-bottom: 0;
  }
  span {
    transform: rotate(0.05deg);
  }
  a {
    z-index: 1;
    transform: rotate(0.05deg);
  }
  .posts-creater{
    z-index: 0;
    font-size: 0.9rem;
  }
}
//スクロールバー非表示
.left-column::-webkit-scrollbar {
    display:none;
}

.left-column:hover {
  background-color: #1C1F39;
}
