.toppage {
  background-image: image-url("top-background.jpg");
}

.jumbotron {
  height: 100vh;
  background-color: transparent !important;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  transform: rotate(0.05deg); //テキストにアンチエイリアス効果
  .btn {
    padding: 30px;
    font-weight: bold;
    letter-spacing: 3px;
  }

}