.user-new-registration {
  height: 100vh;
  h2 {
    transform: rotate(0.05deg);
    width: 60%;
    margin: 0 auto;
  }
  h2, p, td, span, .btn {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transform: rotate(0.05deg);
  }

}