$(".reviews").html("<h4 class=\"text-light text-center mt-3\"><i class=\"fas fa-exclamation-triangle\"></i>空白のレビューはできません!!</h4>").hide().fadeIn('slow');
var errorreview = function(){$(".reviews").html("<%= j(render 'shared/show_reviews') %>").hide().fadeIn('slow');}
setTimeout(errorreview, 2000);